h3 {
    background-color: $color-1;
}

header {
    background-color: $color-4;
    }
        
.preamble, .explanation, .participation, 
.benefits, .requirements {
    background-color: $color-4;
    }
        
.sidebar.wrapper {
        background-color: $color-1;
    }